
@let department = (department$ | async)!;

<div class="inner-margin">

<h1>Department Detail</h1>

<mat-label class="lbl-detail">Name</mat-label><br />
    <mat-label class="lbl-detail-value" >{{department.name}}</mat-label>
    <br /><br />

    <mat-label class="lbl-detail">Description</mat-label><br />
    <div class="lbl-detail-description">{{department.description}}</div>
    <br /><br />

    <mat-label class="lbl-detail">Active</mat-label><br />
    <div class="lbl-detail-value">{{department.active}}</div>
    <br /><br />

</div>


