
<div style="margin-left: 5%; width: 100%;">


    @if(isAddMode){
    <h1>Add Activity</h1>
    }
    @else{
    <h1>Edit Activity</h1>
    }

    <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="lbl-detail-value">
            <mat-label>Activity Number</mat-label>
            <input formControlName="activityNumber" matInput required maxlength="45"/>
            <mat-error>Activity Number is required</mat-error>
        </mat-form-field><br />

        <mat-form-field class="lbl-detail-value" >
            <mat-label>Description</mat-label>
            <textarea class="lbl-detail-description" formControlName="description" matInput required maxlength="250"></textarea>
            <mat-error>Description is required</mat-error>
        </mat-form-field>
        <br />

        <mat-checkbox [checked]="activeStatus"  formControlName="active" (change)="handleActiveChangeSelection($event)">
                Active/Inactive
         </mat-checkbox>

        <div class="lbl-detail-value">
            <button mat-raised-button type="submit" [disabled]="loading">
                Save
            </button><br />
        </div>

    </form>

</div>