<div style="margin-left: 5%; width: 100%;">

    @if(isAddMode){
    <h1>Add Position</h1>
    }
    @else{
    <h1>Edit Position</h1>
    }

    <form [formGroup]="positionForm" (ngSubmit)="onSubmit()">

        <mat-form-field class="lbl-detail">
            <mat-label>Name</mat-label>
            <input formControlName="name" matInput required maxlength="45"/>
            <mat-error>Name is required</mat-error>
        </mat-form-field><br />


        <mat-form-field class="lbl-detail">
            <mat-label>Description</mat-label>
            <textarea style="width: 100%; height: 250px;" formControlName="description" maxlength="200" matInput required></textarea>
            <mat-error>Description is required</mat-error>
        </mat-form-field><br />

        <mat-checkbox [checked]="activeValue" formControlName="active" (change)="handleActiveChangeSelection($event)">
            Active/Inactive
        </mat-checkbox> 


        <div class="lbl-detail">
            <button mat-raised-button type="submit" [disabled]="loading">
                Save
            </button><br />
        </div>

    </form>

</div>