
@let position = (position$ | async)!;

<div class="inner-margin">

<h1>Position Detail</h1>

<mat-label class="lbl-detail">Name</mat-label><br />
    <mat-label class="lbl-detail-value">{{position.name}}</mat-label>
    <br /><br />

    <mat-label class="lbl-detail">Description</mat-label><br />
    <div class="lbl-detail-description">{{position.description}}</div>
    <br /><br />

    <mat-label class="lbl-detail">Active</mat-label><br />
    <div class="lbl-detail-value">{{position.active}}</div>
    <br /><br />

</div>
