
@let payment = (payment$ | async)!;

<div style="margin-left: 5%; width: 100%;">


    <h1>Payment Detail</h1>

  
   
        <mat-label class="lbl-detail">Employee Number</mat-label><br />
        <mat-label class="lbl-detail-value">{{payment.employee.employeeNumber}}</mat-label>
    <br /><br />

        <mat-label class="lbl-detail">Employee Name</mat-label><br />
        <mat-label class="lbl-detail-value">{{payment.employee.firstName}}&nbsp;{{payment.employee.lastName  }}</mat-label>
    <br /> <br />

     <mat-label class="lbl-detail">Amount</mat-label><br />
     <mat-label class="lbl-detail-value">{{payment.amount}}</mat-label>
     <br /> <br />

     <mat-label class="lbl-detail">Check Number</mat-label><br />
     <mat-label class="lbl-detail-value">{{payment.checkNumber}}</mat-label>
     <br /> <br />

     <mat-label class="lbl-detail">Start Period</mat-label><br />
     <mat-label class="lbl-detail-value">{{payment.startPeriod | date:'MM/dd/yyyy'}}</mat-label>
     <br /> <br />

     <mat-label class="lbl-detail">End Period</mat-label><br />
     <mat-label class="lbl-detail-value">{{payment.endPeriod | date:'MM/dd/yyyy'}}</mat-label>
     <br /> <br />

     

        <mat-label class="lbl-detail">Description</mat-label><br />
        <mat-label class="lbl-detail-value">{{payment.note}}</mat-label>
     <br /> <br />


</div>


