<header>
    <nav>
        <ul style=" display: inline; text-decoration: none;">
            <li routerLink="/">Home&nbsp;&nbsp;&nbsp;</li>
            <li routerLink="/listemployees">Employees&nbsp;&nbsp;&nbsp;</li>
            <li routerLink="/listpositions">Positions&nbsp;&nbsp;&nbsp;</li>
            <li routerLink="/listdepartments">Departments&nbsp;&nbsp;&nbsp;</li>
             <li routerLink="/listdeductions">Deductions&nbsp;&nbsp;&nbsp;</li>
            <!-- <li style="color: gray">Departments</li>
            <li style="color: gray">Positions</li> -->
            <li routerLink="/listpayments">Payments&nbsp;&nbsp;&nbsp;</li>
            <li routerLink="/listactivities">Activities&nbsp;&nbsp;&nbsp;</li>
            <li routerLink="/listactivitylogs">Activity Log</li>
                       
        </ul>
    </nav>
</header>

