<header>
    <nav>
        <ul style=" display: inline; text-decoration: none;">
            <li routerLink="/">Home </li>
            <li routerLink="/listemployees">Employees </li>
            

            <li routerLink="/listpositions">Positions </li>

            <li routerLink="/listdepartments">Departments </li>
             <li routerLink="/listdeductions">Deductions</li>
            <!-- <li style="color: gray">Departments</li>
            <li style="color: gray">Positions</li> -->
            <li routerLink="/listpayments">Payments </li>
            <li routerLink="/listactivities">Activities </li>
            <li routerLink="/listactivitylogs">Activity Log </li>
                       
        </ul>
    </nav>
</header>

