<div class="inner-margin">

    <p>Welcome to GL Payroll Subsidiary Ledger For Larry's Lawnmowing Service, llc</p>


    <p>This is a demonstration project demonstrating how a payroll applicate might
        work developed using Angular 19 and Angular material. It is incomplete,
        but it does have some basic funtionality. The backend is an .NET MS MVC API application
        that connect to a MySql database.
        <br /><br />
        GLPayroll will currently handle about 25-30 employees. With a few modifications it could handle
        hundreds of thousands, depending on the functional specification. In reality a lawn mowng service
        would probably have very few or no employees.  For the application to be put into production a 
        few modifications would need to made requiring more coding.  For example you most likely would not
        want to return all the activity logs at one time.  Probably just a small subset.
        <br /><br />

    </p>
    <p>
        Interestingly, the production version is enabled with SignalR which enables real time updates.  If you have 
        multiple clients running and one clients updates the database the other clients are notified to update their views.  
    </p>

    <div>
        <label>To log an actiity for an employee, do the following:</label>
        <ol>
            <li>Click-on 'Employees.'</li>
            <li>Click-on 'Log Activity' to select the employee.</li>
            <li>On the 'Select Activity' view select the activity.</li>
            <li>Enter the 'Units of Work' and DateTimes.</li>
            <li>Click-on 'Save.'</li>

        </ol>
    </div>
   <p>
        GLPayroll UI can be downloaded from https://github.com/gdaniel409/GLPayroll2. <br />
        The API can be downloaded from https://github.com/gdaniel409/SubsidiaryAPI2.
   </p>
  

</div>