@let deduction = (deduction$ | async)!;

<div class="inner-margin">

    <h1>Deduction Detail</h1>

    <mat-label class="lbl-detail">Name</mat-label><br />
    <mat-label class="lbl-detail-value">{{deduction.name}}</mat-label>
    <br /><br />

    <mat-label class="lbl-detail">Deduction Type</mat-label><br />
    <mat-label class="lbl-detail-value">{{deduction.deductionType.description}}</mat-label>
    <br /><br />

    <mat-label class="lbl-detail">Description</mat-label><br />
    <div class="lbl=detail-description" >
        {{deduction.description}}</div>
    <br /><br />
    <mat-label class="lbl-detail">Pay Metric</mat-label><br />
    <mat-label class="lbl-detail-value">{{deduction.deductionMetric.description}}</mat-label>
    <br /><br />

    <div [hidden]="!showamt">
        <mat-label class="lbl-detail">Amount</mat-label><br />
        <div class="lbl-detail-value">{{deduction.amount}}</div>
        <br /><br />

    </div>

    <div [hidden]="!showpct">
        <mat-label class="lbl-detail">Percentage Value</mat-label><br />
        <mat-label class="lbl-detail-value">{{deduction.percentage}}</mat-label>
        <br /><br />

        <mat-label class="lbl-detail">Active</mat-label><br />
        <mat-label class="lbl-detail-value">{{deduction.active}}</mat-label>
        <br /><br />

    </div>

</div>