@let activities = (activities$  | async)!;


@if(activities){

    <h1>Activities/Projects</h1>

    <a href="#" routerLink="/activityaddedit">Add Activity</a>

    &nbsp; &nbsp; &nbsp; &nbsp; 

    <a data-tooltip="Reload" href="#" style="float:right;" (click)="refreshActivities($event)">Refresh</a>

    <table mat-table [dataSource]="activities">

      <!-- <ng-container matColumnDef="activitynumber">
            <th mat-header-cell *matHeaderCellDef>Activity Number</th>
            <td mat-cell *matCellDef="let activity">
            {{ activity.activityNumber }}
            </td>
      </ng-container> -->

      <ng-container matColumnDef="activitynumber">
         <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let activity">
            <a data-tooltip="View Details" style="color: black;" [routerLink]="['/activitydetail', activity.id]">{{ activity.activityNumber }}</a>
          </td>

      </ng-container>

      <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef>Description</th>
            <td mat-cell *matCellDef="let activity">
            {{ activity.description.substring(0, 20) }}
            </td>
      </ng-container>

       <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef>Active</th>
            <td mat-cell *matCellDef="let deductions">
            {{ deductions.active}}
            </td>
        </ng-container>

    
      <ng-container matColumnDef="edit">
         <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let activity">
            <a data-tooltip="Edit" style="color: black;" [routerLink]="['/activityaddedit', activity.id ]">Edit</a>
            
          </td>

      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnNames"></tr>
      <tr mat-row *matRowDef="let row; columns: columnNames;"></tr>
    
     </table>

    

}@else{
      Activity Not Set.
}